.bookmark18444{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 1180px;
    height: auto;
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bookmark18444 .title{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    border-top: 1px solid #cccccc;
    cursor: pointer;
    user-select: none;
    background-color: #ffffff;
}
.bookmark18444 .title .icon-jiahao,.bookmark18444 .title .icon-jianhao{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
}
.bookmark18444 .title .content{
    width: 87.8%;
    height: 100%;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 999;
    overflow: hidden;
    margin-left: 43px;
    word-break: break-word;
}
.bookmark18444 .cont{
    display: none;
    font-size: 14px;
    line-height: 1.7;
    user-select: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 44px;
    padding-right: 44px;
}
@media (max-width: 1200px) and (min-width: 0px){
    .bookmark18444{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0,0);
        width: auto;
        max-width: 100%;
        height: auto;
        border-bottom: 1px solid #cccccc;
        margin: 10px;
    }
    .bookmark18444 .title .content{
        width: 87.8%;
        height: 100%;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 1.7;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 999;
        overflow: hidden;
        margin-left: 43px;
        word-break: break-word;
    }
}