.userStatus-style-new{position:relative;padding:10px 0}
.userStatus-style-new .userStatus-notLogin>a{line-height:36px;color:#bbbac2;display:block;float:left}
.userStatus-style-new .userStatus-notLogin>a+a{margin-left:10px}
.userStatus-style-new .userStatus-notLogin>a:hover{color:#fff}
.userStatus-style-new .userStatus-avatar-wrap{width:36px;height:36px;position:relative}
.userStatus-style-new .userStatus-avatar-wrap.newMsg .newMsgBefore{display:block;position:absolute;top:-5px;right:-15px;width:auto;height:16px;padding:0 5px;border-radius:8px;background-color:#f24d4d;z-index:10;text-align:center;line-height:16px;font-size:12px;color:white}
.userStatus-style-new .userStatus-avatar-wrap .userStatus-avatar{display:inline-block;position:relative;width:34px;height:34px;border:2px solid transparent;border-radius:50%;overflow:hidden}
.userStatus-style-new .userStatus-avatar-wrap .userStatus-avatar:hover{border:2px solid #f0831e}
.userStatus-style-new .userStatus-avatar-wrap .userStatus-avatar img{width:100%;height:100%;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto}
.userStatus-avatar-wrap,.userStatus-text-wrap,.userStatus-arrow{float:left;line-height:36px}
.userStatus-style-new .userStatus-text-wrap{margin-left:10px}
.userStatus-style-new .userStatus-name{float:left;color:#bbbac2;display:inline-block;line-height:36px;max-width:110px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-moz-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-o-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out}
.userStatus-style-new .userStatus-name:hover{color:#fff;text-decoration:underline}
.userStatus-style-new .userStatus-arrow{display:block;width:15px;height:16px;margin-left:5px;margin-top:10px;background:url(../styleRelated/rGZXbI.png) no-repeat -140px -60px}
.userStatus-style-new .userStatus-list-wrap{position:absolute;width:100%;top:56px;display:none;background-color:#323232;box-shadow:rgba(0,0,0,0.6) 0px 0px 10px;z-index:1000}
.userStatus-style-new .userStatus-list-wrap .userStatus-list{padding:10px 0}
.userStatus-style-new .userStatus-list-wrap .userStatus-list .userStatus-hr{height:1px;background-color:#555}
.userStatus-style-new .userStatus-list-wrap .userStatus-list .userStatus-link{display:block;line-height:30px;color:#bbbac2;padding:0 16px;clear:both;-moz-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-o-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out}
.userStatus-style-new .userStatus-list-wrap .userStatus-list .userStatus-link:hover{color:#fff;background-color:#f0831e;text-decoration:none}
.userStatus-link .userStatus-link-icon{width:16px;height:30px;float:left;display:inline-block;margin-right:10px;background:url(../styleRelated/rGZXbI.png) no-repeat -210px -470px}
a.my-forum .userStatus-link-icon{background-position:-210px -579px}
a.my-forum:hover .userStatus-link-icon{background-position:-230px -579px}
a.my-googleAds .userStatus-link-icon{background-position:-210px -606px}
a.my-googleAds:hover .userStatus-link-icon{background-position:-231px -606px}
a.my-smartdata .userStatus-link-icon{background-position:-208px -633px}
a.my-smartdata:hover .userStatus-link-icon{background-position:-230px -633px}
.userStatus-link:hover .userStatus-link-icon{background-position:-230px -470px}
.userStatus-link.my-msg.newMsg .unreadCount{display:inline-block;position:relative;top:0;left:40px;width:auto;height:16px;padding:0 5px;border-radius:8px;background-color:#f24d4d;text-align:center;line-height:16px;font-size:12px;color:white}
.userStatus-link.my-msg .userStatus-link-icon{background-position:-210px 0}
.userStatus-link.my-stat .userStatus-link-icon{background-position:-210px -247px}
.userStatus-link.my-site .userStatus-link-icon{background-position:-210px -30px}
.userStatus-link.my-profile .userStatus-link-icon{background-position:-210px -60px}
.userStatus-link.my-order .userStatus-link-icon{background-position:-210px -90px}
.userStatus-link.security .userStatus-link-icon{background-position:-210px -150px}
.userStatus-link.my-staff .userStatus-link-icon{background-position:-210px -180px}
.userStatus-link.exit .userStatus-link-icon{background-position:-210px -120px}
.userStatus-link.change-password .userStatus-link-icon{background-position:-210px -210px}
.userStatus-link.account-bind .userStatus-link-icon{background-position:-210px -307px}
.userStatus-link.my-domain .userStatus-link-icon{background-position:-210px -277px}
.userStatus-link.my-social .userStatus-link-icon{background-position:-210px -365px}
.userStatus-link.workOrder .userStatus-link-icon{background-position:-210px -339px}
.userStatus-link.wireframes .userStatus-link-icon{background-position:-210px -391px}
.userStatus-link.my-vr .userStatus-link-icon{background-position:-210px -527px}
.userStatus-link.my-group .userStatus-link-icon{background-position:-210px -499px}
.userStatus-link.my-review .userStatus-link-icon{background-position:-210px -444px}
.userStatus-link.my-home .userStatus-link-icon{background-position:-210px -419px}
.userStatus-link.my-trademessenger .userStatus-link-icon{background-position:-210px -550px}
.userStatus-link.my-msg:hover .userStatus-link-icon{background-position:-230px 0}
.userStatus-link.my-stat:hover .userStatus-link-icon{background-position:-230px -247px}
.userStatus-link.my-site:hover .userStatus-link-icon{background-position:-230px -30px}
.userStatus-link.my-profile:hover .userStatus-link-icon{background-position:-230px -60px}
.userStatus-link.my-order:hover .userStatus-link-icon{background-position:-230px -90px}
.userStatus-link.security:hover .userStatus-link-icon{background-position:-230px -150px}
.userStatus-link.my-staff:hover .userStatus-link-icon{background-position:-230px -180px}
.userStatus-link.exit:hover .userStatus-link-icon{background-position:-230px -120px}
.userStatus-link.change-password:hover .userStatus-link-icon{background-position:-230px -210px}
.userStatus-link.account-bind:hover .userStatus-link-icon{background-position:-230px -307px}
.userStatus-link.my-domain:hover .userStatus-link-icon{background-position:-230px -277px}
.userStatus-link.my-social:hover .userStatus-link-icon{background-position:-230px -365px}
.userStatus-link.workOrder:hover .userStatus-link-icon{background-position:-230px -339px}
.userStatus-link.wireframes:hover .userStatus-link-icon{background-position:-230px -391px}
.userStatus-link.my-vr:hover .userStatus-link-icon{background-position:-230px -527px}
.userStatus-link.my-group:hover .userStatus-link-icon{background-position:-230px -499px}
.userStatus-link.my-review:hover .userStatus-link-icon{background-position:-230px -444px}
.userStatus-link.my-home:hover .userStatus-link-icon{background-position:-230px -419px}
.userStatus-link.my-trademessenger:hover .userStatus-link-icon{background-position:-230px -550px}
.hide{display:none}
@media(max-width:1219px){.msg-item-content-wrap{width:540px}
.member-warning-box .member-warning-box-inner{width:960px}
}
@media(max-width:989px){.messageList-toolbar-list .messageList-toolbar-item.search-item,.messageList-toolbar-list .messageList-toolbar-item.date-item{display:none}
.messageList-toolbar-list .messageList-toolbar-item.category-item{margin-right:0;float:right}
.messageList-msg-list .messageList-msg-item{line-height:1.5em;padding:10px 0}
.msg-item-checkbox-wrap{position:absolute;top:10px;left:0}
.msg-item-checkbox-wrap input[type="checkbox"]{height:1.5em}
.msg-item-content-wrap{width:100%;margin-right:0;white-space:normal;-o-text-overflow:initial;text-overflow:initial;overflow:auto}
.msg-item-content-wrap .msg-item-content{display:block;margin-left:43px}
.member-account-info .member-account-thumb{display:block !important}
.member-account-info{padding:10px 60px 10px 20px}
.member-avatar-wrap,.member-text-wrap{float:left}
.member-account-info .member-avatar-wrap{margin-bottom:0}
.member-account-info .member-avatar-wrap .member-avatar{width:80px;height:80px}
.member-account-info .member-text-wrap{text-align:left;margin:18px 0 0 20px}
.sitewidget-userLoginStatus .userStatus-style-new .userStatus-text-wrap{display:none}
.sitewidget-userLoginStatus .userStatus-style-new .userStatus-list-wrap{position:absolute;width:140px}
.member-warning-box .member-warning-box-inner{width:100%}
.member-warning-box .member-warning-box-inner .member-warning-wrap{margin:0 10px;padding-right:110px;float:none}
.member-warning-box .member-warning-box-inner .member-warning-wrap>p{float:none;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.member-warning-box .member-warning-box-inner .member-warning-wrap .member-warning-btn{margin-left:0;position:absolute;right:30px;top:0}
.member-warning-box .member-warning-wrap .member-warning-close{position:absolute;top:0;right:0;margin-right:0}
.memberCenter-wrap.memberFindPassword-step2{max-width:100%}
}
.member-warning-box{background-color:#ffead7;width:100%;position:relative;z-index:1}
.member-warning-box .member-warning-box-inner{margin:0 auto}
@media(min-width:1220px){.member-warning-box .member-warning-box-inner{width:1180px}
}
.member-warning-box .member-warning-wrap{position:relative}
.member-warning-box .member-warning-wrap p{float:left;color:#ff7800;font-size:12px;line-height:32px;display:block}
.member-warning-box .member-warning-wrap .member-warning-btn{margin:0 15px;line-height:32px;font-size:12px;color:#ff7800;float:left;text-decoration:underline}
.member-warning-box .member-warning-wrap .member-warning-btn:hover{text-decoration:none}
.member-warning-box .member-warning-wrap .member-warning-close{cursor:pointer;margin:9px 15px;float:right;width:14px;height:14px;display:block;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAIVBMVEUAAAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eAD/eABHYdxNAAAACnRSTlMA1xbUGMEauispHsHDxwAAAERJREFUCNdjaFVgYIpgiBJhUFzK4LjQRUqEgUlKcLECA4PyKiMGBgbHVSIMDGxSxgsdGBIXK1mJMUQZMSgvZZgO1FUJAFEkC6ZnAGaYAAAAAElFTkSuQmCC) center center no-repeat}
.member-warning-box .member-warning-wrap .member-warning-close:hover{opacity:.7}
.member-popup-wrap,.member-warn-box-wrap{position:fixed;top:0;bottom:0;left:0;right:0;height:100%;width:100%;z-index:20000;display:none;background-color:rgba(0,0,0,0.2)}
.member-warn-box-wrap{display:block}
.member-popup-wrap .member-popup-box{position:absolute;left:50%;top:50%;background-color:#fff;border:1px solid #dcdcdc;box-shadow:0 5px 10px rgba(0,0,0,0.1);border-radius:10px;z-index:20001;-webkit-transform-origin:center center -400px;-ms-transform-origin:center center -400px;transform-origin:center center -400px}
.member-popup-wrap .member-popup-box .member-popup-box-inner{padding:30px 30px}
.member-popup-wrap.qrcode-box .member-popup-box{width:278px;height:358px;margin:-180px 0 0 -140px}
.member-popup-wrap.check-box .member-popup-box{width:398px;height:398px;margin:-200px 0 0 -200px}
.member-popup-wrap.speed-test .member-popup-box{width:398px;height:328px;margin:-165px 0 0 -200px}
.member-popup-wrap.check-box.sms-check .member-popup-box{width:398px;min-height:398px;height:auto;margin:-260px 0 0 -200px}
.member-popup-wrap.speed-test .member-popup-box button{padding:0 40px;height:45px;border:0;background-color:#209eea;color:#fff;font-size:16px;border-radius:5px;cursor:pointer;-moz-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-o-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out}
.member-popup-wrap.speed-test .member-popup-box button.func_retry{background-color:#f5a21b}
.member-popup-wrap.speed-test .member-popup-box button:hover{background-color:#008dd7}
.member-popup-wrap.speed-test .member-popup-box button.func_retry:hover{background-color:#f0831e}
.member-popup-box.is-shown{-webkit-animation:shownQrcode .4s;-moz-animation:shownQrcode .4s;-ms-animation:shownQrcode .4s;-o-animation:shownQrcode .4s;animation:shownQrcode .4s cubic-bezier(0.215,0.61,0.355,1)}
.member-popup-box.is-hidden{-webkit-animation:hiddenQrcode .4s;-moz-animation:hiddenQrcode .4s;-ms-animation:hiddenQrcode .4s;-o-animation:hiddenQrcode .4s;animation:hiddenQrcode .4s cubic-bezier(0.55,0.055,0.675,0.19)}
.member-popup-wrap .member-popup-box .member-popup-title{font-size:24px;color:#3e3a39;margin:15px 0;text-align:center}
.member-popup-wrap .member-popup-box .member-popup-close,.member-popup-wrap .member-popup-box .popup-qrcode-image{max-width:100%;max-height:100%}
.member-popup-wrap .member-popup-box p{margin:15px 0}
.member-popup-wrap .member-popup-box .member-check-group{border:1px solid #dcdcdc;border-radius:5px;line-height:43px;margin-top:25px}
.member-popup-wrap .member-popup-box .member-check-group1{height:43px}
.member-popup-wrap .member-popup-box .member-check-group-line{border:1px solid #dcdcdc;border-radius:5px;line-height:43px;margin-top:25px;background-color:#f7f8f8}
.member-popup-wrap .member-popup-box .member-check-label{float:left;display:inline-block;background-color:#f7f8f8;width:92px;text-align:center;font-size:16px;color:#727171;border-radius:7px 0 0 7px}
.member-popup-wrap .member-popup-box .member-check-label.phone-number{width:104px;border-left:1px solid #dcdcdc;background-color:#fff}
.member-popup-wrap .member-popup-box .member-check-input{float:left;height:43px;padding:1px 0;border:0;box-sizing:border-box;border-left:1px solid #dcdcdc;width:114px;text-align:left;color:#727171;text-indent:6px}
.member-popup-wrap .member-popup-box .inputWhiteList{width:124px}
.member-popup-wrap .member-popup-box .member-check-group-line .member-check-input{width:auto;max-width:240px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.member-popup-wrap .member-popup-box .member-check-input.phone-number{width:104px}
.member-popup-wrap .member-popup-box .member-check-input.check-code{width:241px}
.member-popup-wrap .member-popup-box .member-check-input.long{width:250px}
.member-popup-wrap .member-popup-box .member-check-input:focus{outline:0}
.member-popup-wrap .member-popup-box .member-send-btn{display:inline-block;float:left;line-height:35px;margin-top:4px;border-left:1px solid #dcdcdc;width:135px;text-align:center;font-size:16px;color:#f0831e}
.member-popup-wrap .member-popup-box .member-popup-hint{color:#727171;font-size:12px}
.member-popup-wrap .member-popup-box .member-popup-hint a{color:#209eea}
.member-popup-wrap .member-popup-box .member-popup-btn{display:block;width:100%;background-color:#209eea;border-radius:5px;color:#fff;line-height:45px;text-align:center;font-size:18px}
.member-popup-wrap .member-popup-box .member-popup-error{color:#f24855;margin:0;padding:5px 0;position:absolute;left:0;bottom:-20px}
.member-popup-wrap.check-box.sms-check .check-code-wrap{border-left:1px solid #dcdcdc}
.member-popup-wrap.check-box.sms-check .check-code-wrap>img{width:133px !important;height:43px !important}
.member-popup-wrap.check-box.sms-check .member-popup-box .member-popup-error{line-height:1;padding:5px 0 0 0}
#modifyPasswordPop.member-popup-wrap .member-popup-error{position:static}
.member-warn-box-wrap .warn-popup-box{padding:34px 69px 34px 69px;width:380px;min-height:180px;margin:-125px 0 0 -260px;position:absolute;left:50%;top:50%;border-radius:10px;box-shadow:0 5px 10px rgba(0,0,0,0.1);border:1px solid #dcdcdc;background-color:#fff;z-index:20001;-webkit-transform-origin:center center -400px;-ms-transform-origin:center center -400px;transform-origin:center center -400px}
.member-warn-box-wrap .warn-popup-box.is-shown{-webkit-animation:shownQrcode .4s;-moz-animation:shownQrcode .4s;-ms-animation:shownQrcode .4s;-o-animation:shownQrcode .4s;animation:shownQrcode .4s cubic-bezier(0.215,0.61,0.355,1)}
.member-warn-box-wrap .warn-popup-box.is-hidden{-webkit-animation:hiddenQrcode .4s;-moz-animation:hiddenQrcode .4s;-ms-animation:hiddenQrcode .4s;-o-animation:hiddenQrcode .4s;animation:hiddenQrcode .4s cubic-bezier(0.55,0.055,0.675,0.19)}
.member-warn-box-wrap .warn-popup-box:before{content:"";display:block;width:100%;height:6px;border-radius:10px 10px 0 0;background-color:#209eea;position:absolute;top:-1px;left:0}
.member-warn-box-wrap .warn-popup-box-inner{text-align:center}
.member-warn-box-wrap .warn-popup-box-info{margin:20px 40px 20px 40px;height:90px}
.member-warn-box-wrap .warn-popup-box-info .warning-icon{display:block;width:50px;height:50px;margin:20px 20px 20px 0;float:left;background:url(../styleRelated/rGZXbI.png) no-repeat -250px -180px}
.member-warn-box-wrap .warn-popup-box-info .warning-icon.ok{background-position:-250px -230px}
.member-warn-box-wrap .warn-popup-box-info .warn-popup-outer{float:left;width:230px;height:90px;display:table;text-align:left}
.member-warn-box-wrap .warn-popup-box-info .warn-popup-wrap{display:table-cell;vertical-align:middle}
.member-warn-box-wrap .warn-popup-button-group{width:380px}
.member-warn-box-wrap .warn-box-btn-ok{display:block;line-height:45px;width:200px;text-align:center;color:#fff;background-color:#209eea;border-radius:5px;font-size:18px;-moz-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-o-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out}
.member-warn-box-wrap .warn-box-btn-ok:hover{background-color:#008dd7}
.member-warn-box-wrap .warn-box-btn-cancel{display:block;line-height:45px;width:200px;text-align:center;color:#fff;background-color:#aaa;border-radius:5px;font-size:18px;-moz-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-o-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out}
.member-warn-box-wrap .warn-box-btn-cancel:hover{background-color:#ccc}
.member-warn-box-wrap .warn-popup-button-group.one-btn>a{margin:0 auto}
.member-warn-box-wrap .two-btn #popup-sure,.member-warn-box-wrap #popup-cancel{width:150px}
.member-warn-box-wrap .two-btn #popup-sure{float:left}
.member-warn-box-wrap .two-btn #popup-cancel{float:right}
.white-list .member-check-group:first-child{margin-top:0}
.whitelist-wrap{height:140px;margin:20px 0;overflow-y:auto}
.white-list .member-check-group>a{color:#209eea;float:right;margin-right:10px}
.third-part.member-popup-wrap.check-box .member-popup-box{width:398px;height:478px;margin:-240px 0 0 -200px}
.third-part.member-popup-wrap .member-popup-box .member-popup-title{margin-top:0}
.third-part.member-popup-wrap .member-popup-box .member-send-btn{margin-right:0}
.third-part.member-popup-wrap .member-popup-box .member-check-group{margin-top:15px}
.third-part.member-popup-wrap a.refreshImg{width:38%;height:45px}
.third-part.member-popup-wrap a.refreshImg #faptcha_image_img{width:100% !important;height:100% !important}
.third-part.member-popup-wrap .member-popup-box .member-popup-error{padding:0;bottom:-30px}
.member-popup-wrap .member-popup-box .member-popup-box-inner .change-success-icon{width:60px;height:60px;background-image:url(../styleRelated/tCYumG.png);background-position:-60px 0;margin:50px auto 0}
.member-popup-wrap .member-popup-box .member-popup-box-inner .change-success-words{display:block;font-size:18px;color:#666;margin:40px auto 0;text-align:center}
@-webkit-keyframes spinner-changing{from{-webkit-transform:rotate(0)}
to{-webkit-transform:rotate(360deg)}
}
.fa-spinner.spinner-changing{-webkit-animation-name:spinner-changing;-webkit-animation-duration:1.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear}
@media(max-width:640px){.memberCenter-wrap .memberCenter-title-wrap{padding:0 15px}
.sitewidget-messageList .sitewidget-hd h2,.messageList-toolbar-list,.messageList-pagination-wrap{padding-left:15px;padding-right:15px}
.messageList-msg-list .messageList-msg-item{margin:0 15px}
.messageList-toolbar-list .messageList-toolbar-item{margin-right:15px}
.messageList-toolbar-list .messageList-toolbar-item select.category-select{width:140px;padding-left:0}
.msg-item-content-wrap .msg-item-content{margin-left:28px}
.sitewidget-messageDetail .messageDetail-wrap{padding:30px 25px}
.security-info-wrap,.security-level-wrap{padding-left:15px;padding-right:15px}
.security-info-list .security-info-item{line-height:40px}
.security-setting-list .security-setting-item{margin-left:15px;margin-right:15px;padding-top:15px;padding-bottom:15px}
.security-level .security-level-suggest{line-height:2;margin-bottom:10px}
.security-setting-item .security-setting-cont{border-left:0;padding-left:0;width:100%;margin:10px 0}
.security-setting-item .security-setting-act{width:60px;position:absolute;right:20px}
.security-setting-act .security-bound-info{opacity:1;right:100%}
.member-popup-wrap.check-box .member-popup-box{width:310px;height:398px;margin:-200px 0 0 -155px}
.member-popup-wrap.speed-test .member-popup-box{width:310px;height:328px;margin:-165px 0 0 -155px}
.member-popup-wrap.speed-test .member-popup-box button{padding:0 25px}
.member-popup-wrap .member-popup-box .member-check-label{width:60px;font-size:14px}
.member-popup-wrap .member-popup-box .member-check-label.phone-number{width:96px}
.member-popup-wrap .member-popup-box .member-send-btn{font-size:12px}
.member-popup-wrap .member-popup-box .member-check-input.phone-number{width:96px}
.member-popup-wrap .member-popup-box .member-check-input.check-code{width:184px}
.member-popup-wrap .member-popup-box .member-check-input.long{width:190px}
.member-popup-wrap .member-popup-box .member-send-btn{width:96px}
.member-warn-box-wrap .warn-popup-box{padding:34px 19px 34px 19px;width:200px;height:280px;margin:-175px 0 0 -120px}
.member-warn-box-wrap .warn-popup-box-info{margin:20px 0 20px 0;height:190px}
.member-warn-box-wrap .warn-popup-box-info .warning-icon{width:50px;height:50px;margin:0 auto 20px auto;float:none}
.member-warn-box-wrap .warn-popup-box-info .warn-popup-outer{float:none;width:200px;height:120px;display:table;text-align:center}
.member-warn-box-wrap .warn-popup-button-group{width:100%}
.member-warn-box-wrap .warn-popup-button-group.one-btn>a.warn-box-btn-ok{width:100%}
.memberCenter-wrap.memberFindPassword-step1,.memberCenter-wrap.memberFindPassword-step3{width:100%;padding:36px 0;text-align:left}
.memberFindPassword .memberFindPassword-step1 input,.memberFindPassword .memberFindPassword-step3 input{width:278px}
.memberFindPassword .member-group .member-error-msg{width:280px}
.memberFindPassword .memberFindPassword-step1 .findPwd-btn,.memberFindPassword .memberFindPassword-step3 .submit-btn{width:280px}
.memberFindPassword .memberFindPassword-step2 .findPwd-way-item .findPwd-way-info{width:70%}
.memberFindPassword .member-group-split{width:280px}
.memberFindPassword .member-group-split>input{width:45%}
.memberFindPassword .member-help-info{margin:25px auto;width:240px}
.sitewidget-mySite .sitewidget-bd .mySiteBox .qrcode-show-icon{display:none}
.member-popup-wrap .member-popup-box .member-popup-box-inner{padding:36px 10px}
.third-part.member-popup-wrap.check-box .member-popup-box,.member-popup-wrap.check-box.sms-check .member-popup-box{width:96%;margin-left:-48%}
.member-popup-wrap .member-popup-box .member-send-btn{float:right;width:96px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.member-popup-wrap .member-popup-box .member-check-label{width:80px}
.member-popup-wrap .member-popup-box .member-check-input.check-code{width:160px}
.member-popup-wrap .member-popup-box .member-check-label.phone-number{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.third-part.member-popup-wrap a.refreshImg #faptcha_image_img,.member-popup-wrap.check-box.sms-check .check-code-wrap>img{width:90px !important}
.third-part.member-popup-wrap a.refreshImg,a.refreshImg.check-code-wrap{width:90px}
}
@media(max-width:1219px) and (min-width:990px){.messageList-toolbar-list .messageList-toolbar-item.search-item{width:auto}
.messageList-toolbar-list .messageList-toolbar-item select.category-select{width:160px}
.messageList-toolbar-item.markAsRead-item,.messageList-toolbar-item.category-item,.messageList-toolbar-item.date-item{margin-right:10px}
.security-setting-item .security-setting-cont{max-width:500px}
.security-setting-list.security-doubleCheck-list .security-setting-item .security-setting-cont{max-width:360px}
.userStatus-style-new .userStatus-name{max-width:75px}
}
@media(max-width:989px) and (min-width:641px){.security-setting-item .security-setting-cont{max-width:330px}
.security-setting-list.security-doubleCheck-list .security-setting-item .security-setting-cont{max-width:200px}
}
.user-login-bd{width:100%;padding-top:15px}
.user-login-ft{width:100%;padding:15px 0}
.user-login-bd .user-login-info{border:1px solid #d8dde6;border-bottom:0;border-radius:4px}
.user-login-bd .user-login-info input[type="text"],.user-login-bd .user-login-info input[type="password"]{display:block;width:100%;height:50px;padding:6px 12px;border:0;border-bottom:1px solid #d8dde6;box-sizing:border-box;outline:0;text-indent:5px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
#userLogin-pop .user-login-title{color:#209eea}
#userLogin-pop .user-login-bd .user-login-info .user-varify-code{float:left;width:70%}
#userLogin-pop .user-login-bd .user-login-info .user-verify-img{float:right;width:30%;height:50px;background:#d8dde6}
#userLogin-pop .user-login-bd .user-login-info .user-verify-img>img{height:49px !important;width:100% !important}
.user-login-bd .error-box{margin:10px 0;color:#f24d4d}
.user-login-ft .user-login-link{color:#55585d}
.user-login-ft .user-login-link:hover{color:#209eea}
.msg-push-box{position:fixed;width:320px;bottom:0;right:2px;z-index:99}
.msg-push-box .msg-push-down{position:absolute;bottom:-50px;left:50px;width:220px;height:44px;cursor:pointer;background-color:#fff;border-radius:4px;box-shadow:0 0 6px rgba(0,0,0,.2);-webkit-transition:all .5s;transition:all .5s}
.msg-push-box .msg-push-down.on{bottom:0}
.msg-push-box .down-left{float:left;width:160px;height:44px;line-height:44px;padding-left:44px;background-color:#eff0f3;color:#434b51;font-size:14px;background-image:url(https://a0.leadongcdn.com/static/assets/widget/images/email.svg);background-size:26px;background-position:10px 10px;background-repeat:no-repeat;box-sizing:border-box;border-radius:4px 0 0 0}
.msg-push-box .down-right{width:60px;height:44px;float:left;position:relative;background-color:#00ce7a;background-image:url(https://a0.leadongcdn.com/static/assets/widget/images/message.svg);background-repeat:no-repeat;background-size:38px;background-position:11px 4px;border-radius:0 4px 0 0}
.msg-push-box .down-right .icon{position:absolute;top:-4px;right:-4px;width:12px;height:12px;border-radius:50%;background-color:#f24d4d}
.msg-push-box .msg-push-up{position:absolute;bottom:-400px;left:0;width:320px;height:390px;border-radius:4px 4px 0 0;background-color:#fff;-webkit-transition:all .5s;transition:all .5s;box-shadow:0 0 6px rgba(0,0,0,.2)}
.msg-push-box .msg-push-up.on{bottom:0}
.msg-push-box .msg-push-up .title{width:100%;height:60px;background-color:#00ce7a;position:relative;border-radius:4px 4px 0 0}
.msg-push-box .msg-push-up .title-word{color:#fff;font-size:14px;margin:0;line-height:60px;padding-left:60px;background-image:url(https://a0.leadongcdn.com/static/assets/widget/images/email_white.svg);background-size:30px 30px;background-position:15px 15px;border-radius:4px 4px 0 0;background-repeat:no-repeat}
.msg-push-box .msg-push-up .minimize{position:absolute;width:16px;height:16px;top:22px;right:40px;background-image:url(https://a0.leadongcdn.com/static/assets/widget/images/arrow_down.svg);background-size:20px 20px;background-repeat:no-repeat;background-position:-2px -1px}
.msg-push-box .msg-push-up .close{position:absolute;width:16px;height:16px;top:22px;right:10px;background-image:url(https://a0.leadongcdn.com/static/assets/widget/images/close.svg);background-size:16px 16px;background-repeat:no-repeat}
.msg-push-box .msg-push-up .msg-list-box{height:300px;border:1px solid #ccc;border-width:0 1px 0 1px}
.msg-push-box .msg-push-up .msg-list{list-style:none;padding:0;margin:0}
.msg-push-box .msg-push-up .msg-item{list-style:none;height:60px;box-sizing:border-box;border-bottom:1px solid #e9ecf2;background-color:#fbfcff;padding-left:30px;position:relative}
.msg-push-box .msg-push-up .msg-item a{display:block}
.msg-push-box .msg-push-up .msg-item:before{content:"";display:inline-block;width:6px;height:6px;border-radius:50%;background-color:#f24d4d;position:absolute;top:27px;left:12px}
.msg-push-box .msg-push-up .msg-item:hover{background-color:#f0f3f7}
.msg-push-box .msg-push-up .msg-cont{line-height:60px;color:#505a61;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:270px;float:left;margin:0}
.msg-push-box .msg-push-up .msg-time{font-size:12px;color:#7b8a95;width:80px;float:right;margin:0;line-height:60px}
.msg-push-box .msg-push-up .show-more{display:block;width:100%;text-align:center;font-size:12px;line-height:30px;text-decoration:none;color:#0089f5;border:1px solid #ccc;border-width:0 1px 0 1px;box-sizing:border-box}
.msg-push-box .msg-push-up .show-more:hover{text-decoration:underline}
@media(max-width:767px){.msg-push-box{display:none}
}
.member-warning-box{overflow:hidden;height:32px}
.member-warning-box .member-warning-box-inner{animation:scroll 10s infinite alternate}
.isChinaNetWordTip{display:none}
@keyframes scroll{0%{-webkit-transform:translateY(0);transform:translateY(0)}
50%{-webkit-transform:translateY(0);transform:translateY(0)}
75%{-webkit-transform:translateY(-32px);transform:translateY(-32px)}
100%{-webkit-transform:translateY(-32px);transform:translateY(-32px)}
}
@keyframes scroll2{0%{-webkit-transform:translateY(0);transform:translateY(0)}
20%{-webkit-transform:translateY(0);transform:translateY(0)}
40%{-webkit-transform:translateY(-32px);transform:translateY(-32px)}
60%{-webkit-transform:translateY(-32px);transform:translateY(-32px)}
80%{-webkit-transform:translateY(-64px);transform:translateY(-64px)}
100%{-webkit-transform:translateY(-64px);transform:translateY(-64px)}
}
.assign_designer_pop_mark{position:fixed;top:0;bottom:0;left:0;right:0;height:100%;width:100%;z-index:20000;background-color:rgba(0,0,0,0.2);display:none}
.assign_designer_pop_mark .assign_designer_pop_box{width:380px;border-radius:6px;box-shadow:0 12px 48px 0 rgba(0,0,0,0.03),0 9px 28px 0 rgba(0,0,0,0.05),0 6px 16px 0 rgba(0,0,0,0.08);position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);margin:0;background-color:#fff}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_title{display:flex;padding:14px 24px;word-break:break-all;justify-content:space-between;font-size:14px}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_title .assign_designer_pop_box_title_t{font-size:16px}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_title .assign_designer_pop_box_title_close{display:flex;align-items:center;cursor:pointer}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_main{padding-bottom:42px;border-top:1px solid #e9edf7;border-bottom:1px solid #e9edf7;padding:30px 24px 40px;font-size:14px}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_main .assgin_main_input{box-sizing:border-box;height:39px;line-height:39px;outline:0;padding:0 12px;width:100%;background:#fff;border:1px solid #d8dbe6;border-radius:4px;margin-bottom:7px}
.assign_designer_pop_box_main .assign_designer_item{display:flex;margin:5px 0 5px 0;border:1px solid #d8dbe6;padding:10px;cursor:pointer;transition:background-color .3s}
.assign_designer_pop_box_main .assign_designer_item:hover{background-color:#209eea;color:white}
.assign_designer_pop_box_main .assign_designer_item input{margin-right:5px}
.assign_designer_ul{max-height:150px;margin-top:30px;overflow-y:auto}
.assign_designer_ul span{color:#d70000;padding-left:7px}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_main .assgin_main_text{color:#aaa;margin-left:3px}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_main .assgin_main_input:focus{border-color:#008cff}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_footer{display:flex;padding:14px 24px;justify-content:end}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_footer .assign_designer_pop_box_footer_btns .assign_footer_btn{justify-content:center;line-height:1;height:32px;white-space:nowrap;cursor:pointer;text-align:center;margin:0;padding:8px 15px;border-radius:4px;outline:0}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_footer .assign_designer_pop_box_footer_btns .assign_footer_btn+.assign_footer_btn{margin-left:6px}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_footer .assign_designer_pop_box_footer_btns .assign_footer_cancel{background-color:#fff;border:1px solid #dcdfe6}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_footer .assign_designer_pop_box_footer_btns .assign_footer_cancel:hover{color:#1890ff;border-color:#c6e2ff}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_footer .assign_designer_pop_box_footer_btns .assign_footer_success{border:0;color:#fff;background-color:#1890ff}
.assign_designer_pop_mark .assign_designer_pop_box .assign_designer_pop_box_footer .assign_designer_pop_box_footer_btns .assign_footer_success:hover{background-color:#79bbff;border-color:#79bbff}
.assign_designer_name_list{margin:5px 0 2px 0}
.assign_designer_name_list .assign_designer_name.assign_designer_name_hover{position:relative}
.assign_designer_name_list .assign_designer_name.assign_designer_name_hover .assign_designer_user_name{border:1px solid transparent}
.assign_designer_name_list .assign_designer_name .assign_designer_name_close{display:none}
.assign_designer_name_list .assign_designer_name.assign_designer_name_hover:hover .assign_designer_user_name{border-radius:3px;color:#1890ff;border:1px solid #1890ff}
.assign_designer_name_list .assign_designer_name.assign_designer_name_hover:hover .assign_designer_name_close{display:block}
.assign_designer_name_list .assign_designer_name.assign_designer_name_hover .assign_designer_name_close{position:absolute;right:-6px;top:-7px;display:none;cursor:pointer}